div.tspager(align='center')
  button.first
    | 第一頁
  button.prev
    | 上一頁
  span.pagedisplay
  button.next
    | 下一頁
  button.last
    | 最末頁
  | &nbsp;每頁顯示&nbsp;
  select.pagesize
    option(value='50') 50
    option(value='100') 100
    option(value='250') 200
    option(value='500') 500
    option(value='all') 全部
  | &nbsp;筆
